
<p id="notice"><%= notice %></p>

<div class="posts">
    <div class="row">
       <div id="sidebar" class="col-md-2">
          <b>Ethnicity</b>
          <br>
         <% @ethnic.each do |ethnic| %>
          <%= ethnic %>
          <br>
         <% end %>
       </div>
      
       <div id="content" class="col-md-10">
       <div class="page">
        <%= render @members %>
       </div> 
       </div>

    </div>
    


</div>
<%= paginate @members %>



